Abriendo el dataset

In [11]:
import pandas as pd

# Cargar CSV
csv_path = '../hltb_data.csv'
df = pd.read_csv(csv_path, low_memory=False)
df.head()

,game_count_discussion,game_game_id,game_game_name,game_game_name_date,game_count_playing,game_count_backlog,game_count_replay,game_count_custom,game_count_comp,game_count_retired,...,review_60,review_65,review_70,review_75,review_80,review_85,review_90,review_95,review_100,review_review_count
0,0,1,688(I) Hunter/Killer,0,1,82,2,3,11,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,0,2,Beyond Good & Evil 2,0,0,80,0,3,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,0,18,'Splosion Man,0,1,302,14,17,179,43,...,13.0,1.0,20.0,NaN,21.0,1.0,14.0,NaN,4.0,79
3,0,19,.hack//G.U. Vol. 1: Rebirth,0,0,316,11,14,274,18,...,9.0,NaN,34.0,1.0,34.0,1.0,13.0,NaN,9.0,110
4,0,20,.hack//G.U. Vol. 2: Reminisce,0,0,291,5,14,165,8,...,7.0,NaN,17.0,NaN,27.0,1.0,9.0,NaN,6.0,69

Se crea una tabla con atributos binarios para representar los generos de los juegos.

In [9]:
import pandas as pd

# Cargar CSV
csv_path = '../hltb_data.csv'
df = pd.read_csv(csv_path, low_memory=False)

# Nos quedamos con las columnas relevantes
df_subset = df[['game_game_id', 'game_game_name', 'game_profile_genre']].copy()

# Rellenar valores nulos con string vacío para evitar errores
df_subset['game_profile_genre'] = df_subset['game_profile_genre'].fillna('')

# Separar los géneros por coma y eliminar espacios extra
df_subset['genre_list'] = df_subset['game_profile_genre'].apply(lambda x: [g.strip() for g in x.split(',') if g.strip() != ''])

# Obtener todos los géneros únicos
all_genres = sorted(set(g for sublist in df_subset['genre_list'] for g in sublist))

# Crear un DataFrame con las columnas de género
genre_df = pd.DataFrame(
    [[1 if genre in genres else 0 for genre in all_genres] for genres in df_subset['genre_list']],
    columns=all_genres
)

# Concatenar con el dataframe original (sin la columna 'genre_list')
df_game_genre_binary = pd.concat([df_subset[['game_game_id', 'game_game_name']], genre_df], axis=1)

df_game_genre_binary.head()

,game_game_id,game_game_name,2D Action Platformer,2D action platformer,2D versus fighting,2D weapon based fighting,3-D,3D Platformer,4X,ANAZIGN,...,role-playing,sandbox,shooter,simulation,stealth,strategy side-scroller,survival horror,third-person shooter,turn-based tactical,turn-based tactics
0,1,688(I) Hunter/Killer,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Beyond Good & Evil 2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,18,'Splosion Man,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,19,.hack//G.U. Vol. 1: Rebirth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20,.hack//G.U. Vol. 2: Reminisce,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# Nos quedamos con las columnas relevantes
df_subset = df[['game_game_id', 'game_game_name', 'game_profile_platform']].copy()

# Rellenar valores nulos con string vacío
df_subset['game_profile_platform'] = df_subset['game_profile_platform'].fillna('')

# Separar las plataformas por coma y eliminar espacios extra
df_subset['platform_list'] = df_subset['game_profile_platform'].apply(
    lambda x: [p.strip() for p in x.split(',') if p.strip() != '']
)

# Obtener todas las plataformas únicas
all_platforms = sorted(set(p for sublist in df_subset['platform_list'] for p in sublist))

# Crear un DataFrame con las columnas de plataforma (1 si el juego está en esa plataforma, 0 si no)
platform_df = pd.DataFrame(
    [[1 if platform in platforms else 0 for platform in all_platforms] for platforms in df_subset['platform_list']],
    columns=all_platforms
)

# Concatenar con el DataFrame original
df_plataform_binary = pd.concat([df_subset[['game_game_id', 'game_game_name']], platform_df], axis=1)

df_plataform_binary.head()

,game_game_id,game_game_name,3DO,Acorn Archimedes,Amazon Luna,Amiga,Amiga CD32,Amstrad CPC,Apple II,Arcade,...,Wii U,Windows Phone,WonderSwan,Xbox,Xbox 360,Xbox One,Xbox Series X/S,ZX Spectrum,ZX81,Zeebo
0,1,688(I) Hunter/Killer,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Beyond Good & Evil 2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,18,'Splosion Man,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,19,.hack//G.U. Vol. 1: Rebirth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20,.hack//G.U. Vol. 2: Reminisce,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# Nos quedamos con las columnas relevantes
df_subset = df[['game_game_id', 'game_game_name', 'game_game_type']].copy()

# Rellenar valores nulos con string vacío
df_subset['game_game_type'] = df_subset['game_game_type'].fillna('')

# Separar las plataformas por coma y eliminar espacios extra
df_subset['game_type_list'] = df_subset['game_game_type'].apply(
    lambda x: [p.strip() for p in x.split(',') if p.strip() != '']
)

# Obtener todas las plataformas únicas
all_platforms = sorted(set(p for sublist in df_subset['game_type_list'] for p in sublist))

# Crear un DataFrame con las columnas de plataforma (1 si el juego está en esa plataforma, 0 si no)
platform_df = pd.DataFrame(
    [[1 if platform in platforms else 0 for platform in all_platforms] for platforms in df_subset['game_type_list']],
    columns=all_platforms
)

# Concatenar con el DataFrame original
df_final = pd.concat([df_subset[['game_game_id', 'game_game_name']], platform_df], axis=1)

df_final.head()

,game_game_id,game_game_name,compil,delay,dlc,endless,game,hack,mod,multi,omit,sports
0,1,688(I) Hunter/Killer,0,0,0,0,1,0,0,0,0,0
1,2,Beyond Good & Evil 2,0,0,0,0,1,0,0,0,0,0
2,18,'Splosion Man,0,0,0,0,1,0,0,0,0,0
3,19,.hack//G.U. Vol. 1: Rebirth,0,0,0,0,1,0,0,0,0,0
4,20,.hack//G.U. Vol. 2: Reminisce,0,0,0,0,1,0,0,0,0,0